@*<div id="toolbar">
    <div class="col-lg-12">
       
    </div>
</div>*@
<div id="pnlGrid">
    <input type="hidden" name="menuId" id="menuId" value="@ViewBag.MenuId" />
    @*<div id="right_sidebar">

    </div>*@
    @*<div id="content_new">*@
        <div class="row" style="margin:10px">
            

            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-key" style="color:#57ACE7;"></i>Reset User Password
                    </div>
                    <div class="panel-body ">
                        <div class="col-lg-122">
                            @*<div style="background-color:#F4F4F4;margin-bottom:10px;padding-top:10px">
                                @using (Html.BeginForm("", "", FormMethod.Post, new { id = "formSearch", }))
                                {
                                    @Html.AntiForgeryToken()
                                    <div class="col-lg-5 col-lg-offset-7" style="margin-bottom:10px">

                                        <div class="form-group input-group" style="margin:0px">
                                            <input type="text" name="q" id="q" value="" class="form-control" />
                                            <span class="input-group-btn">
                                                <button id="btnSearch" class="btn btn-default">Search <i class="fa fa-search"></i></button>

                                            </span>

                                        </div>
                                        <div class="radio-inline">
                                            <label>
                                                @Html.RadioButton("option", "ID",true)
                                                MERCHANT ID
                                            </label>
                                        </div>
                                        <div class="radio-inline">
                                            <label>
                                                @Html.RadioButton("option", "NA")
                                                MERCHANT NAME
                                            </label>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                }
                            </div>*@
                            <div class="table-responsiva divad2">
                                <table id="example1" class="table table-striped datatable table-condensed table-bordered">
                                    <thead>
                                        <tr>
                                            <td style="" colspan="6">
@using (Html.BeginForm("", "", FormMethod.Post, new { id = "formReset", }))
{
    @Html.AntiForgeryToken()
                                                <button class="btn btn-success" id="btnReset" disabled><i class="fa fa-key"></i> Reset Password</button>
}
                                            </td>
                                        </tr>
                                        <tr>
                                            @*<th></th>*@
                                            <th style="">
                                                <input type="checkbox" name="chkAll" id="chkAll" />
                                            </th>
                                            <th>Login ID</th>
                                            <th>Full Name</th>
                                            <th>Role</th>
                                            <th>Email</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@*<div id="pnlForm" style="display:none" class="panel-form">

</div>*@
@section Scripts {
@if (TempData["msg"] != null)
{
    var msg = @Html.Raw(Json.Encode(TempData["msg"]));
    <script>
        displayDialogNoty('Notification',@msg) ;
    </script>
}
    @Scripts.Render("~/Scripts/app/reset_password.js")
}
