 @model SettlementMaster.App.Models.UserDataObj      

 @*Logged In : @Model.FullName | Last Login Date: @Model.LastLoginDateString  | Role : @Model.RoleName |Branch : @Model.BranchName | Department : @Model.DepartmentName*@

<p class="navbar-text navbar-right">Institution:@Model.InstitutionName</p>
<p class="navbar-text navbar-right">Last Login:@Model.LastLoginDateString</p>
@*<p class="navbar-text navbar-right">Last Login:12 May,2017</p>*@