@model Generic.Dapper.Model.mRegObj

<div id="toolbar">
    <div class="col-lg-12">
        <a id="btnCancel" class="btn btn-warning editor_returna" href="@Url.Action("Index","Merchant",new {m = ViewBag.MenuId })"><i class="fa fa-long-arrow-left"></i> Return</a>
    </div>
</div>
 <div class="row" style="margin:10px">

    <div class="panel panel-default" id="divForm">
        <div class="panel-heading">
            Add New Merchant
            @*<a id="btnReturna" class="btn btn-warning editor_returna pull-right" href="@Url.Action("Index","Merchant")"><i class="fa fa-chevron-left"></i> Return to List</a>*@
            <div class="clearfix"></div>
        </div>
        <div class="panel-body">
            @using (Html.BeginForm("Add", "MReg", FormMethod.Post, new { id = "formMReg", @style = "display:inline" }))
{
            @Html.AntiForgeryToken()
            <div id="rootwizard">
                <ul class="">
                    <li><a href="#taba" data-toggle="tab"><i class="fa fa-user"></i> Merchant Detail</a></li>
                    <li><a href="#tabb" data-toggle="tab"><i class="fa fa-info"></i> Merchant Account</a></li>
                    <li><a href="#tabc" id="tablinkc" data-toggle="tab" class="tabc"><i class="fa fa-book"></i> Merchant Terminal</a></li>
                    @*<li><a href="#tabd" id="tablinkd" data-toggle="tab" class="tabd"><i class="fa fa-info"></i> Referee Info</a></li>
                        <li><a href="#tabe" id="tablinke" data-toggle="tab" class="tabe"><i class="fa fa-users"></i> Children Info</a></li>
                        <li><a href="#tabf" id="tablinkf" data-toggle="tab" class="tabf"><i class="fa fa-briefcase"></i> Professional Qualification</a></li>
                        <li><a href="#tabg" id="tablinkg" data-toggle="tab" class="tabg"><i class="fa fa-briefcase"></i> Work Experience</a></li>
                        <li><a href="#tabh" id="tablinkh" data-toggle="tab" class="tabg"><i class="fa fa-eye"></i> Preview</a></li>*@

                </ul>
                <div class="tab-content" style="margin-top:10px">
                    <div class="tab-pane active" id="taba">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="col-md-2 control-label">Merchant ID<span style="color:red">*</span></label>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(model => model.mObj.MERCHANTID, new { @class = "form-control input-sm" })
                                    @Html.HiddenFor(model => model.mObj.ITBID)
                                </div>
                                <label class="col-md-2 control-label">Merchant Name<span style="color:red">*</span></label>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(model => model.mObj.MERCHANTNAME, new { @class = "form-control input-sm" })

                                </div>

                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">Acquiring Institution<span style="color:red">*</span></label>
                                <div class="col-md-4">
                                    @Html.DropDownListFor(model => model.mObj.INSTITUTION_CBNCODE, ViewBag.AcquirerList as SelectList, "Select One", new { @class = "form-control select2", style = "width:100%" })

                                </div>

                                <label class="col-md-2 control-label">Mcc Description<span style="color:red">*</span></label>
                                <div class="col-md-4">
                                    @Html.DropDownListFor(model => model.mObj.MCC_CODE, ViewBag.MCCList as SelectList, "Select One", new { @class = "form-control select2", style = "width:100%" })

                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-2 control-label">Contact Title</label>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(model => model.mObj.CONTACTTITLE, new { @class = "form-control input-sm", style = "width:150px" })

                                </div>
                                <label class="col-md-2 control-label">Contact Name<span style="color:red">*</span></label>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(model => model.mObj.CONTACTNAME, new { @class = "form-control input-sm" })
                                </div>
                            </div>
                            <div class="form-group">

                                <label class="col-md-2 control-label">Business Code<span style="color:red">*</span></label>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(model => model.mObj.BUSINESS_CODE, new { @class = "form-control input-sm", style = "width:150px" })

                                </div>

                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">Email<span style="color:red">*</span></label>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(model => model.mObj.EMAIL, new { @class = "form-control input-sm" })

                                </div>
                                <label class="col-md-2 control-label">Phone No</label>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(model => model.mObj.PHONENO, new { @class = "form-control input-sm", style = "width:150px" })

                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-2 control-label">Address<span style="color:red">*</span></label>
                                <div class="col-md-4">
                                    @Html.TextAreaFor(model => model.mObj.ADDRESS, new { @class = "form-control input-sm" })

                                </div>
                                <label class="col-md-2 control-label">Country<span style="color:red">*</span></label>
                                <div class="col-md-4">
                                    @Html.DropDownListFor(model => model.mObj.COUNTRY_CODE, ViewBag.CountryList as SelectList, "Select One", new { @class = "form-control select2", style = "width:100%" })

                                </div>

                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">State<span style="color:red">*</span></label>
                                <div class="col-md-4">
                                    @Html.DropDownListFor(model => model.mObj.STATE_CODE, ViewBag.StateList as SelectList, "Select One", new { @class = "form-control select2", style = "width:100%" })

                                </div>
                                <label class="col-md-2 control-label">LGA</label>

                                <div class="col-md-4">
                                    @*@Html.DropDownListFor(model => model.CITY_NAME, ViewBag.CityList as SelectList, "--Select City--", new { @class = "form-control select2", style = "width:100%" })*@
                                    @Html.TextBoxFor(model => model.mObj.CITY_NAME, new { @class = "form-control input-sm" })


                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tabb">
                            <div class="table-responsive">
                                <div id="divMA">
                                    <table id="tableAcct" class="table table-condensed table-hover table-bordered table-striped" style="width:100%">

                                        <thead>
                                            <tr><th colspan="5"><a id="btnAddAcct" class="btn btn-info btn-xs"><i class="fa fa-plus"></i> Add Account</a></th></tr>
                                            <tr>
                                                <th style="width:10%;text-align:center">Action?</th>
                                                <th>
                                                    Account No.
                                                </th>
                                                <th>
                                                    Account Name
                                                </th>
                                                <th>
                                                    Bank Name
                                                </th>
                                                <th>
                                                    Currency
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                                @*@Html.Hidden("MID", "")*@
                             
                        
                    </div>
                    <div class="tab-pane" id="tabc">
                        <div style="margin-bottom:5px">
                            <div class="table-responsive">
                                    <div id="divTermQueue">
                                        <table id="tableTid" class="table table-condensed table-hover table-striped table-bordered" style="width:100%">
                                            <thead>
                                                <tr><th colspan="8"><a id="btnAddTerminal" class="btn btn-info btn-xs"><i class="fa fa-plus"></i> Add Terminal</a></th></tr>

                                                <tr>
                                                    <th style="text-align:center">Action?</th>
                                                    <th>Terminal ID</th>
                                                    <th>Frequency</th>
                                                    <th>Set. Currency</th>
                                                    <th>Trans. Currency</th>
                                                    <th>Account No</th>
                                                    <th>Account Name</th>
                                                    <th>Bank Name</th>
                                                    @*<th>Batch ID</th>*@
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                           
                        </div>
                    </div>
                    @*<div class="tab-pane" id="tabd">

                            <div style="text-align:right;margin-top:10px;padding-top:5px;border-top:1px solid #ccc">


                                    <div style="float:right">
                                        <button type="submit" class="btn btn-info" id="btnSubmitFinal" value="1" style="padding: 4px 12px;"><i class="fa fa-save"></i> Submit </button>
                                        </div>
                                        <div style="float:right">

                                          @if (ViewBag.DisplayAppoval == true)
                                          {
                                            @Html.Hidden("approvalRequired", "Y");
                                            @Html.DropDownList("ApproverId", ViewBag.ApproverList as SelectList, "Select Approving Officer", new { @class = "form-control select3 input-sm", style = "width:300px" })
                                          }
                                        </div>
                                        <div class="clearfix"></div>

                                    </div>
                        </div>*@
                    <div style="margin-top:10px">
                        <div style="float:right">
                            @*<input type='button' class='btn button-next' name='next' value='Next' />*@
                            <button type='button' class='btn button-next' name='next'>Next <i class="fa fa-long-arrow-right"></i></button>
                            <button type='button' id="btnSubmitFinal" class='btn btn-primary button-final' style="display:none"><i class="fa fa-save"></i> Submit</button>
                        </div>
                        <div style="float:left">
                            @*<input type='button' class='btn button-previous' name='previous' value='Previous' />*@
                            <button type='button' class='btn button-previous' name='next'><i class="fa fa-long-arrow-left"></i> Previous</button>

                        </div>
                    </div>
                    @*<ul class="pager wizard">
                            <li class="previous first" style="display:none;"><a href="#">First</a></li>
                            <li class="previous"><a href="javascript:;">Previous</a></li>
                            <li class="next last" style="display:none;"><a href="#">Last</a></li>
                            <li class="next"><a href="javascript:;">Next</a></li>
                        </ul>*@
                </div>
            </div>
}
        </div>

    </div>

</div>
<div class="modal fade" id="myModalAcct" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

</div>
<div class="modal fade" id="myModalTerm" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

</div>

@section Scripts {
@if (ViewBag.Message != null)
{


    <script>
     
        //$('#rootwizard').bootstrapWizard({
        //    //'tabClass': 'nav nav-pills',
        //    'onNext': function (tab, navigation, index) {
        //        //var $valid = $("#commentForm").valid();
        //        //if (!$valid) {
        //        //    $validator.focusInvalid();
        //        //    return false;
        //        //}
        //        alert('lol');
        //    }
        //});
        //$('#rootwizard').bootstrapWizard({ 'tabClass': 'nav nav-pills' });
               // alert('lol');
                    displayDialogNoty('Notification', '@ViewBag.Message');

    </script>

}
<script>
    //var $validator = $("#formProcess").validate({
    //    rules: {
    //       LastName:"required"
    //    }
    //});

  
    </script>
    @Scripts.Render("~/Scripts/app/mreg.js")
}
