@model Generic.Dapper.Model.ATMChargesObj
    <div class="modal-dialog" style="width:550px">
        <div class="modal-content">
@using (Html.BeginForm("", "", FormMethod.Post, new { id = "formCharges" }))
{
    @Html.AntiForgeryToken()
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h5 class="modal-title" id="myModalLabel"><i class="fa fa-plus"></i>Add ATM Charges</h5>
            </div>
            <div class="modal-body">
                <div class="col-lg-12">
                    <div class="alert alert-dismissable alert-warning" style="display:none" id="notyMsc">
                        <div id="notyMscMsg">
                        </div>
                    </div>
                    <div class="form-horizontal">
                    
                        <div class="form-group">
                            <label class="col-lg-4 control-label">Request Type</label>
                            <div class="col-lg-8">
                                @Html.HiddenFor(model => model.ITBID)
                                @Html.DropDownListFor(model => model.REQUESTTYPE_CODE, ViewBag.ReqType as SelectList, "Select One", new { @class = "form-control select2", style = "width:100%" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-4 control-label">Tran Type</label>
                            <div class="col-lg-8">
                                @Html.DropDownListFor(model => model.TRAN_CODE, ViewBag.TranType as SelectList, "Select One", new { @class = "form-control select2", style = "width:100%" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 control-label">ATM Party Type</label>
                            <div class="col-lg-8">
                                @Html.DropDownListFor(model => model.OPERATORTYPE, ViewBag.ATMPartyType as SelectList, "Select One", new { @class = "form-control select2", style = "width:100%" })
                           @Html.HiddenFor(model => model.OPERATORTYPE_DESC)
                             </div>
                        </div>
                   
                        <div class="form-group">
                            <label class="col-lg-4 control-label">Calculation Basis</label>
                            <div class="col-lg-8">
                                @Html.DropDownListFor(model => model.CALCBASIS_ITBID, ViewBag.CalcBasis as SelectList, "Select One", new { @class = "form-control select2", style = "width:100%" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 control-label">Value</label>
                            <div class="col-lg-8">
                                @Html.TextBoxFor(model => model.PartyValue, new { @class = "form-control input-sm", style = "width:100%" })
                            </div>
                        </div>
                     
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button Id="btnAddChargesGrid" class="btn btn-primary"><i class="fa fa-plus"></i> Add</button>
            </div>
}
        </div>
        <!-- /.modal-content -->
    </div>

<script>
    $('.select2').select2({
        theme: "classic"
    });
   // $('a.editor_return').click();
</script>